@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --background: 1 0 0;
  --foreground: 0.145 0 0;
  --card: 1 0 0;
  --card-foreground: 0.145 0 0;
  --popover: 1 0 0;
  --popover-foreground: 0.145 0 0;
  --primary: 0.60 0.13 163;
  --primary-foreground: 0.98 0.02 166;
  --secondary: 0.967 0.001 286.375;
  --secondary-foreground: 0.21 0.006 285.885;
  --muted: 0.97 0 0;
  --muted-foreground: 0.556 0 0;
  --accent: 0.97 0 0;
  --accent-foreground: 0.205 0 0;
  --destructive: 0.58 0.22 27;
  --destructive-foreground: 0.985 0 0;
  --border: 0.922 0 0;
  --input: 0.922 0 0;
  --ring: 0.708 0 0;
  --chart-1: 0.85 0.13 165;
  --chart-2: 0.77 0.15 163;
  --chart-3: 0.70 0.15 162;
  --chart-4: 0.60 0.13 163;
  --chart-5: 0.51 0.10 166;
  --radius: 0.625rem;
  --sidebar: 0.985 0 0;
  --sidebar-foreground: 0.145 0 0;
  --sidebar-primary: 0.60 0.13 163;
  --sidebar-primary-foreground: 0.98 0.02 166;
  --sidebar-accent: 0.97 0 0;
  --sidebar-accent-foreground: 0.205 0 0;
  --sidebar-border: 0.922 0 0;
  --sidebar-ring: 0.708 0 0;
}

.dark {
  --background: 0.145 0 0;
  --foreground: 0.985 0 0;
  --card: 0.205 0 0;
  --card-foreground: 0.985 0 0;
  --popover: 0.205 0 0;
  --popover-foreground: 0.985 0 0;
  --primary: 0.70 0.15 162;
  --primary-foreground: 0.26 0.05 173;
  --secondary: 0.274 0.006 286.033;
  --secondary-foreground: 0.985 0 0;
  --muted: 0.269 0 0;
  --muted-foreground: 0.708 0 0;
  --accent: 0.371 0 0;
  --accent-foreground: 0.985 0 0;
  --destructive: 0.704 0.191 22.216;
  --destructive-foreground: 0.985 0 0;
  --border: 1 0 0 / 10%;
  --input: 1 0 0 / 15%;
  --ring: 0.556 0 0;
  --chart-1: 0.85 0.13 165;
  --chart-2: 0.77 0.15 163;
  --chart-3: 0.70 0.15 162;
  --chart-4: 0.60 0.13 163;
  --chart-5: 0.51 0.10 166;
  --sidebar: 0.205 0 0;
  --sidebar-foreground: 0.985 0 0;
  --sidebar-primary: 0.77 0.15 163;
  --sidebar-primary-foreground: 0.26 0.05 173;
  --sidebar-accent: 0.269 0 0;
  --sidebar-accent-foreground: 0.985 0 0;
  --sidebar-border: 1 0 0 / 10%;
  --sidebar-ring: 0.556 0 0;
}

* {
  border-color: oklch(var(--border));
  outline-color: oklch(var(--ring) / 50%);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: oklch(var(--background));
  color: oklch(var(--foreground));
  font-family: "Inter", sans-serif;
  font-feature-settings: "rlig" 1, "calt" 1;
}
